<a href="https://colab.research.google.com/github/SXM58580/Assignment1/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import statistics

#sorted the list
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print("ages :",ages)

#minimum age among the list
minimum = min(ages)
print("Minimum age :",minimum)

#maaximum age among the list
maximum  = max(ages)
print("Maximum age:",maximum)

#adding maximum and minimum  age to the list
ages.append(maximum)
ages.append(minimum)

#finding the median of ages
medain_value = statistics.median(ages)
print("Median of the ages:",medain_value)

#finding the average of ages
mean_value = statistics.mean(ages)
print("Average of the age:",mean_value)

#Range of the ages
range_value  = max(ages) - min(ages)
print("Range of ages:",range_value)

ages : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age : 19
Maximum age: 26
Median of the ages: 24.0
Average of the age: 22.75
Range of ages: 7

In [2]:
#Dictionaries

#created dog dictionary having certain keys and values
dog = {
    "name" : "Bumbble",
     "color":"white",
     "breed" :"PUG",
     "legs":4,
     "age":1
}
print("My Dog :",dog)

#created student dictionaries with certain keys and values.
student = {
    "first_name" : "SWATHI",
    "last_name" :"ARUKALA",
    "gender" :"Female",
    "age":21,
    "marital_status" :"married",
    "skills" :["C programming","node","python"],
    "country":"USA",
    "city":"Overland Park",
    "address":"5501 w 134thst"
}
print("Sudent Details: ",student)


#finding the length of student dictionary
print("Length of student dictionary: ",len(student))

#acessing the skills value and checking the data type
print(student["skills"])
print("Type is:",type(student['skills']))

#updated the skills by adding another skills to the list
student["skills"].append("R programming")
print("Updated skills: ",student["skills"])

#Get dictionary keys as list
keys = student.keys()
print("Dictionary Keys are: ",keys)

#Get dictionary values as list
values = student.values()
print("Dictionary Values are: ",values)

My Dog : {'name': 'Bumbble', 'color': 'white', 'breed': 'PUG', 'legs': 4, 'age': 1}
Sudent Details:  {'first_name': 'SWATHI', 'last_name': 'ARUKALA', 'gender': 'Female', 'age': 21, 'marital_status': 'married', 'skills': ['C programming', 'node', 'python'], 'country': 'USA', 'city': 'Overland Park', 'address': '5501 w 134thst'}
Length of student dictionary:  9
['C programming', 'node', 'python']
Type is: <class 'list'>
Updated skills:  ['C programming', 'node', 'python', 'R programming']
Dictionary Keys are:  dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address'])
Dictionary Values are:  dict_values(['SWATHI', 'ARUKALA', 'Female', 21, 'married', ['C programming', 'node', 'python', 'R programming'], 'USA', 'Overland Park', '5501 w 134thst'])

In [3]:
#TUPLE

#Created brother tuple
brother_tuple = ("joseph","james","rajesh","vamshi","vijay")

#Created sister tuple
sister_tuple = ("swetha","kejia","hema","suhana")

#Joined brothers and sister tuple and assigned to sibligs
siblings_tuple = brother_tuple + sister_tuple

#Finding the length of siblings tuple
print(len(siblings_tuple))


#Creating parents tuple
parents_tuple =("rajashekar","yoshitha")

#joining parents and siblings tuple to a new tuple family_tuplle
family_tuple = siblings_tuple + parents_tuple

print("Family: ",family_tuple)

9
Family:  ('joseph', 'james', 'rajesh', 'vamshi', 'vijay', 'swetha', 'kejia', 'hema', 'suhana', 'rajashekar', 'yoshitha')

In [4]:
#Set

#Created a set of IT Companies and finding the length of set
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print("Length of set is ",len(it_companies))

#Adding / Updating the value to the set
it_companies.add("Twitter")
print("Updated set: ",it_companies)

#Adding / Updating multiple values to the set
it_companies.update(["Cognizant","TCS","Accenture","MindTree"])
print("Updated Set of multiple values: ",it_companies)

#Remove value from the set
it_companies.remove('TCS')
print("Updated Set: ",it_companies)

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

#Joining A and B
C = A.union(B)
print("New Set: ",C)

#finding the intersection of A and B
D = A.intersection(B)
print("new set:",D)


#Is A subset of B?
print("Is A subset of B? ",A.issubset(B))

#Are A and B disjoint sets
print("Are A and B disjoint sets? ",A.isdisjoint(B))

#Join A with B and B with A
print("Joining A with B: ",A.union(B))
print("Joining B with A: ",B.union(A))

#Symmetric difference of 2 sets
print("Symmetric Difference: ",A.symmetric_difference(B))

#Deleted the sets Completely
del A
del B


age = [22, 19, 24, 25, 26, 24, 25, 24]
#Converting the list into set
age_set = set(age)
print("Age : ",age_set)

#Comparing the length of age in set with age in list
print("Length age in list: ",len(age))
print("Length of age in set: ",len(age_set))
if(len(age)>len(age_set)):
    print("List is larger")
else:
    print("Set is larger")

##########################################################################################################################################
#What is the difference between remove and discard?
#The major purpose of remove and discard is to delete an element from the set.
#although both have various functionality

#remove : set.remove() throws an error if there is no specified element in the list 
# num = {"1","2","3","4","5","6"}
# num.remove("1")
# print(num)
# num.remove("7")
# print(num)

#discard :set.discard() removes the specified element and doesnt throw the error message
# num = {"1","2","3","4","5","6"}
# num.discard("1")
# print(num)
# num.discard("7")
# print(num)
#########################################################################################################################################

Length of set is  7
Updated set:  {'Google', 'Oracle', 'Apple', 'Facebook', 'IBM', 'Microsoft', 'Amazon', 'Twitter'}
Updated Set of multiple values:  {'Google', 'Accenture', 'Oracle', 'MindTree', 'Apple', 'Cognizant', 'Facebook', 'IBM', 'TCS', 'Microsoft', 'Amazon', 'Twitter'}
Updated Set:  {'Google', 'Accenture', 'Oracle', 'MindTree', 'Apple', 'Cognizant', 'Facebook', 'IBM', 'Microsoft', 'Amazon', 'Twitter'}
New Set:  {19, 20, 22, 24, 25, 26, 27, 28}
new set: {19, 20, 22, 24, 25, 26}
Is A subset of B?  True
Are A and B disjoint sets?  False
Joining A with B:  {19, 20, 22, 24, 25, 26, 27, 28}
Joining B with A:  {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric Difference:  {27, 28}
Age :  {19, 22, 24, 25, 26}
Length age in list:  8
Length of age in set:  5
List is larger

In [5]:
#radius is 30 meters

#Area of circle pi*radius^2
import math
radius = 30
_area_of_circle_= math.pi*radius**2
print("Area of Circle = ",_area_of_circle_)

#Circumference of Circle is 2*pi*radius
_circum_of_circle_ = math.pi*2*radius
print("Circumference of Circle = ",_circum_of_circle_)

#Taking radius as user input
radius_inp = int(input("enter the radius = "))
_area_of_circle_= math.pi*radius_inp**2
print("Area of Circle = ",_area_of_circle_)

Area of Circle =  2827.4333882308138
Circumference of Circle =  188.49555921538757
enter the radius = 28
Area of Circle =  2463.0086404143976

In [6]:
Striing = "I am a teacher and I love to inspire and teach people"

#Splitting the string using the set to get the unique words
split_strings = set(Striing.split(" "))
print("Unique Words: ",split_strings)

#Finding the count of unique words
print("Number of unique words = ",len(split_strings))

Unique Words:  {'love', 'a', 'and', 'inspire', 'to', 'teacher', 'I', 'teach', 'am', 'people'}
Number of unique words =  10

In [7]:
#tab sequence gives a tab spce between the strings
Str1 = "Name\t\tAge\tCountry\tCity"
print(Str1)
Str2 = "Asabeneh\t250\tFinland\tHelsinki"
print(Str2)

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki